/* Archivo: custom-datatables.css */

/* Clase personalizada para filas destacadas */
.highlight {
    background-color: lightcoral !important;
}

/* Asegura que las filas seleccionadas sobrescriben estilos estándar */
#table tbody tr.highlight {
    background-color: lightcoral !important;
}

body {
    background-color: yellow;
}
