.btn-costum-services {
  min-width: 220px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 13px;
}
.custom-badge-pill {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 35px;
  height: 35px;
}

.custom-badge-pill span {
  font-size: 20px !important;
}
